<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TFL_APP_ID</key>
	<string>your-tfl-app-id</string>
	<key>TFL_APP_KEY</key>
	<string>your-tfl-app-key</string>
	<key>OPENWEATHER_API_KEY</key>
	<string>your-openweather-key</string>
</dict>
</plist>
