<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TFL_APP_ID</key>
	<string>your-tfl-app-id</string>
	<key>TFL_APP_KEY</key>
	<string>814f5e9e7d2e4b5abd3a6d282724e28a</string>
	<key>OPENWEATHER_API_KEY</key>
	<string>f7fd41c031b4c79f1da0e11d692b1bc5</string>
</dict>
</plist>
