<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>TFL_APP_ID</key>
    <string></string>
    <key>TFL_APP_KEY</key>
    <string>814f5e9e7d2e4b5abd3a6d282724e28a</string>
    <key>OPENWEATHER_API_KEY</key>
    <string>f7fd41c031b4c79f1da0e11d692b1bc5</string>
    <key>REALTIMETRAINS_BASE_URL</key>
    <string>https://api.realtimetrains.co.uk</string>
    <key>REALTIMETRAINS_API_KEY</key>
    <string></string>
    <key>REALTIMETRAINS_USERNAME</key>
    <string>rttapi_neon711</string>
    <key>REALTIMETRAINS_PASSWORD</key>
    <string>261a608459cac4426e3fb4344abc21c2a4975dc3</string>
</dict>
</plist>
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>TFL_APP_KEY</key>
	<string>814f5e9e7d2e4b5abd3a6d282724e28a</string>
	<key>OPENWEATHER_API_KEY</key>
	<string>f7fd41c031b4c79f1da0e11d692b1bc5</string>
</dict>
</plist>
